<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDERUXFQRvN3XYoQ_-5O23z7yj3h9c7eaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>784579046439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NAU.MemoryMatchGameAdmin</string>
	<key>PROJECT_ID</key>
	<string>cardmatch-e7f12</string>
	<key>STORAGE_BUCKET</key>
	<string>cardmatch-e7f12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784579046439:ios:4e07ede13cc5edc2f37202</string>
</dict>
</plist>